* {
    margin: 0;
    padding: 0;
    font-family: Helvetica,Arial,sans-serif;
    line-height: 1.5;
}

.marquee {
    background-color: rgb(60, 60, 67);
    width: 100%;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.marquee ul {
    list-style-type: none;
    color: white;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}

.marquee li {
    flex: 1;
    text-align: center;
}

.marquee li:hover {
    cursor: pointer;
}

.search-icon {
    width: 1rem;
}

.main-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    position: relative;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.main-icons input {
    border: none;
    font-size: 1rem;
}

.main-icons input:focus {
    outline: none;
}

.main-icons input::placeholder {
    font-weight: lighter;
    color: gray;
}

.main-icons-logo {
    font-weight: bold;
    font-size: 2.5rem;
    font-family: "Archivo Narrow", sans-serif;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.main-icons-logo:hover {
    cursor: pointer;
}

.main-icons ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.main-icons ul:hover {
    cursor: pointer;
}

.main-icons img {
    width: 1.2rem;
}

.main-icons-left {
    width: 17rem;
}

.main-icons-left hr {
    color: white;
}

.main-icons-search {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    margin-bottom: 0.3rem;
}

.navbar ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 1.5rem;
    font-weight: lighter;
    margin-bottom: 1rem;
}

.navbar li:hover {
    cursor: pointer;
}

header {
    background-color: #d6ad7f;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.promotion-text {
    color: #7f0019;
    padding-top: 9rem;
    padding-bottom: 9rem;
    padding-left: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
}

.promotion-text div:nth-child(1) {
    font-size: clamp(1.9rem,2.5vmax,3rem);
    line-height: clamp(2rem,2.7vmax,3.2rem);
    font-weight: bold;
    margin-bottom: 2rem;
}

.promotion-text div:nth-child(2) {
    font-size: clamp(1.1rem,1.4vmax,1.4rem);
    line-height: clamp(1.3rem,1.5vmax,1.6rem);
    font-weight: lighter;
}

.promotion-text div:nth-child(3) {
    font-size: clamp(3.2rem,6.6vmax,8.5rem);
    line-height: clamp(3.4rem,6.9vmax,8.7rem);
    font-weight: bold;
    margin-bottom: 1rem;
}

.promotion-text div:nth-child(4) {
    font-size: clamp(1.9rem,2.5vmax,3rem);
    line-height: clamp(2rem,2.7vmax,3.2rem);
    font-weight: lighter;
    margin-bottom: 2rem;
}

.promotion-text div:nth-child(5) {
    font-size: clamp(2rem,3vmax,3.5rem);
    line-height: clamp(2.3rem,3.2vmax,3.7rem);
    font-weight: bold;

}

.promotion-images {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    width: 60%;
    padding-right: 0.5rem;
}

.promotion-images img {
    border-radius: 2px;
    width: 100%;
    object-fit: cover;
}

.promotion-images-container {
    position: relative;
    flex: 1;
}

.promotion-image-text {
    color: white;
    font-weight: 550;
    position: absolute;
    bottom: 6%;
    left: 50%;
    transform: translateX(-50%);
}

.promotion-image-text hr {
    color: #7f0019;
    border: 1px solid #7f0019;
    opacity: 0;
    transition: opacity 0.2s;
}

.promotion-images-container:hover {
    cursor: pointer;
}

.promotion-images-container:hover .promotion-image-text hr {
    opacity: 1;
}

.highlights {
    background-color: #f5f3f2;
    padding-left: 5rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.title {
    font-size: 18px;
    letter-spacing: 0.3px;
    font-weight: bold;
    line-height: 1.5;
    color: #3d3d44;
}

.highlights-items {
    padding-top: 1rem;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    overflow: scroll;
    font-weight: bold;
    line-height: 1.5;
    color: #3d3d44;
    align-items: center;
    justify-content: center;
}

.highlights-item {
    flex: 0 0 20%;
}

.highlights-item-text {
    display: inline-block;
}

.highlights-item-text hr {
    color: #7f0019;
    border: 2px solid #7f0019;
    opacity: 0;
    transition: opacity 0.2s;
}

.highlights-item:hover{
    cursor: pointer;
}

.highlights-item:hover .highlights-item-text hr{
    opacity: 1;
}

.highlights-items img {
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
}

.hero {
    padding-top: 5rem;
    box-sizing: border-box;
    padding-left: 5rem;
    padding-right: 5rem;
    margin: 0 auto;
    position: relative;
}

.hero-container {
    height: 30%;
    position: relative;
    overflow: hidden;
}

.hero img {
    width: 100%;
    height: auto;
    position: relative;
    top: -60px;
}

.hero-big-text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 7%;
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.5;
    color: white;
    text-shadow: 0px 0px 10px gray;
}

.hero-women-text {
    position: absolute;
    top: 60%;
    transform: translateY(-60%);
    left: 7%;
    font-weight: bold;
    line-height: 1.5;
    color: white;
    text-shadow: 0px 0px 10px gray;
    font-size: 1rem;
    display: inline-block;
}

.hero-men-text {
    position: absolute;
    top: 60%;
    transform: translateY(-60%);
    left: 15%;
    font-weight: bold;
    line-height: 1.5;
    color: white;
    text-shadow: 0px 0px 10px gray;
    font-size: 1rem;
}

.hero-women-text:hover {
    cursor: pointer;
}

.hero-women-text span {
    display: inline-block;
    transition: transform 0.3s;
    transform-origin: left center;
}

.hero-women-text:hover  span{
    transform: scale(1.3);
}

.hero-men-text:hover {
    cursor: pointer;
}

.hero-men-text span {
    display: inline-block;
    transition: transform 0.3s;
    transform-origin: left center;
}

.hero-men-text:hover  span{
    transform: scale(1.3);
}

.bestsellers {
    padding-left: 5rem;
    padding-bottom: 5rem;
}

.bestsellers-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
    padding-right: 5rem;
    box-sizing: border-box;
}

.bestsellers-item {
    flex: 1;
    position: relative;
}

.bestsellers-item img {
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
}

.bestsellers-item:hover{
    cursor: pointer;
}

.bestsellers-item:hover .bestsellers-text hr{
    opacity: 1;
}

.bestsellers-text {
    color: white;
    font-weight: 550;
    position: absolute;
    bottom: 5%;
    left: 5%;
}

.bestsellers-text hr {
    color: #7f0019;
    border: 2px solid #7f0019;
    opacity: 0;
    transition: opacity 0.2s;
}
