* {
    margin: 0;
    padding: 0;
    font-family: Helvetica,Arial,sans-serif;
    line-height: 1.5;
}

.marquee {
    background-color: rgb(60, 60, 67);
    width: 100%;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.marquee ul {
    list-style-type: none;
    color: white;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}

.marquee li {
    flex: 1;
    text-align: center;
}

.search-icon {
    width: 1rem;
}

.main-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    position: relative;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.main-icons input {
    border: none;
    font-size: 1rem;
}

.main-icons input:focus {
    outline: none;
}

.main-icons input::placeholder {
    font-weight: lighter;
    color: gray;
}

.main-icons-logo {
    font-weight: bold;
    font-size: 2.5rem;
    font-family: "Archivo Narrow", sans-serif;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.main-icons ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.main-icons img {
    width: 1.2rem;
}

.main-icons-left {
    width: 17rem;
}

.main-icons-left hr {
    color: white;
}

.main-icons-search {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    margin-bottom: 0.3rem;
}

.navbar ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 1.5rem;
    font-weight: lighter;
}